body{
    margin: 0;
    box-sizing: border-box;
}
div#bigPictureContainer{
    display: flex;
    height: 80vh;
    margin-top: 1rem;
    height: calc(80vh - 1rem);
}
div#bigPicture{
    flex: 10;
    max-width: 100%;
}
div#leftArrow{
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
}
div#rightArrow{
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
}
div#bigPicture img{
    max-width: 100%;
}
div#rightArrow i{
    flex: 1;
}
div#leftArrow i{
    flex: 1;
}
div#bigPictureContainer div#bigPicture{
    flex: 10;
    overflow: hidden;
}
div#thumbnailContainer{
    display: flex;
    margin-top: 1rem;
    height: calc(20vh - 1rem);
}
div#thumbnailContainer > div {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
}
div#thumbnailContainer div#thumbnailRoll {
    flex: 10;
    overflow: hidden;
    display: flex;
} 
div#thumbnailContainer div#thumbnailRoll img{
    height: 100%;
    margin-right: 1rem;
}
div#fullScreenOverlay {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
div#fullScreenOverlay img {
    max-width: 90vw;
    max-height: 95vh;
    flex: 1;
}
